

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.doc_img {
  width: 80%;
  max-height: 400px;
  margin: 0 auto;
}

.label-yellow {
    background-color: #eeee00;
}
