<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/sc_logo.png">

    <title>User Administration</title>

    <!-- Bootstrap core CSS -->
    <link href="./bootstrap3/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
	<link rel="stylesheet" href="./bootstrap3/css/navbar-fixed-top.css">
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/application.css"> 
	<link rel="stylesheet" href="./css/jquery-ui-1.8.16.custom.css">
	<link rel="stylesheet" href="./css/demo_table.css">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="?dest=index"><img src="/images/sc_logo.png" class="img-circle logo" /> ShakeCast</a>
      </div>
      <div class="navbar-collapse collapse">
	<ul id="nav_menu" class="nav navbar-nav">
	    <li><a href="?dest=admin_index">Admin Home</a></li>
	    <li><a href="?dest=admin_config">General Settings</a></li>
	    <li>
	    <a href="?dest=admin_earthquake">Earthquakes</a>
	    </li>
	    <li class="">
	    <a href="?dest=admin_facility">Facilities</a>
	    </li>
	    <li class="">
	    <a href="?dest=admin_product">Products</a>
	    </li>
	    <li class="active">
	    <a href="?dest=admin_user">Users</a>
	    </li>
	    <li class="">
	    <a href="?dest=admin_post_file">Upload</a>
	    </li>
		<TMPL_VAR NAME=LOGOUT>
	</ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <!-- Subhead
  ================================================== -->
  <header class="header" id="overview">
    <div class="container">
      <h2>User Administration <small>Manage the user database, their role, and notification preferences</small></h2>
      <ol class="breadcrumb">
	<li><a href="?dest=admin_index">Admin Home</a></li>
	<li><a href="#">User Administration</a></li>
        <li class="active"></li>
      </ol>
    </div>
  </header>
  
        <!--/.nav-collapse <div class="container">-->
<div class="container">

      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default">
	    <div class="panel-heading">User Type</div>
	    <div class="list-group" id="sidebar">
	    </div>
          </div><!--/.well -->
            <div class="panel panel-default" id="map_pane">
	    <div class="panel-heading">Group Geometry</div>
				<div id="map_canvas" style="width:100px; height:200px;"></div>
           </div>

        </div><!--/span-->

        <div class="col-md-9">
            <!-- Example row of columns -->
            <div class="panel panel-default" id="main_pane">
			<!-- <a class="btn btn-primary" href="javascript:void(0)" id="update">Update User List</a></p>  -->	
				<ul class="nav nav-pills">
				<li class="pull-right"><a class="btn btn-danger" href="javascript:void(0)" id="delete_type">Delete All Users</a></li>
				<li class="pull-right"><a class="btn btn-danger" href="javascript:void(0)" id="delete">Delete Selected Users</a></li>
				</ul>
			<table cellpadding="0" cellspacing="0" border="0" class="display" id="eq_content_table"></table>
            </div>

          <div class="panel panel-default" id="fac_shaking">
	    <div class="panel-heading"></div>
	    <div class="panel-body">
	    </div>
          </div><!--/.well -->

<div id="spinner" class="spinner ui-widget ui-widget-content ui-corner-all" style="width:50px;background:#fff;height:50px;">
	<img id="img-spinner" src="/images/usgs.gif" alt="Loading" style="margin:10px auto;"/>
</div>

<div class="modal fade" id="myModal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete Users</h4>
      </div>
      <div class="modal-body">
        <p>Delete all users shown in the table from the ShakeCast database?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="confirm_delete">Yes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Button to trigger modal -->

        </div> <!-- /container -->
      </div> <!-- /container -->

    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <ul class="footer-links">
          <li><a href="http://earthquake.usgs.gov">&copy; USGS 2013</a></li>
          <li class="muted">&middot;</li>
          <li>Desktop</li>
          <li class="muted">&middot;</li>
          <li><a href="?dest=mobile">Mobile</a></li>
        </ul>
     </div>
    </footer>

     <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript">
      var prefix;
      var script = '<script type="text/javascript" src="';
      var loc = new String(window.parent.document.location);
      if (loc.indexOf("https://")!= -1)
	prefix = "https://";
      else
	prefix = "http://";
      script += prefix + 'maps.google.com/maps/api/js?sensor=false&key=<TMPL_VAR NAME=GM_KEY>"><' + '/script>';
      document.write(script);
    </script>
<script type="text/javascript" src="./js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="./bootstrap3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./js/jquery-ui.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
<script type="text/javascript" src="./js/shakemap.js"></script>
<script type="text/javascript" src="./js/loadXML.js"></script>
<script type="text/javascript" src="./js/mapapp_list.js"></script>
<script type="text/javascript" src="./js/sc_constant.js"></script>
<script type="text/javascript" src="./js/storage.js"></script>
<script type="text/javascript" src="./js/sc_markerclusterer.js"></script>
<script type="text/javascript" src="./js/jquery.dataTables.min.js"></script>

	<script>
		var map;
		var sc_id = gup('event');
		var type = gup('type');
		var age = gup('age');
		var fac_des = [];
		var feature_coords = [];
		var fac_feature;
	var oTable;
	var anOpen = [];

      SC_DEF.init();
      //var sm_url = '/scripts/shakemap.pl/from_id/' + sc_id;
      var username = SC_DEF.user ? SC_DEF.user : 'guest';
      var password = SC_DEF.pass ? SC_DEF.pass : 'guest';
      var submit_data = {
      };
    
      $(window).load(function() {
	//user_auth(submit_data);
		load_list();
      });
		
	function load_list() {
		SC_DEF.DEFAULT_ZOOM=4;
		map = MAPAPP.init(SC_DEF);
	 
		//var sm_url = '/scripts/shakemap.pl/from_id/' + sc_id;
		//var sm_url = '/scripts/event.pl/event_list?type='+type+'&age='+age;
		var sm_url = '/scripts/r/user/user_group/';

		$.post(sm_url, submit_data, function(data) {

			// Are there even any EQ to display?
			if (data.length <= 0) {
				return;
			}
			var total_count = 0;
			for (var i=0; i < data.length; i++) {
			total_count += parseInt(data[i].count);
			}
			data.push({user_type: 'ALL', count:total_count});
			
				var user_type = [];
			for (var i=0; i < data.length; i++) {
				var event = data[i];
				if (! user_type[event.user_type]) {
				$("#sidebar").append('<a class="list-group-item station_network" id="' + event.user_type +
					'" href="#">' + event.user_type +
					' (' + event.count + ')</a>');
					user_type[event.user_type] = 1; 
				}
			}
			$('#sidebar a').on('click', function (e) {
				var type = this;
				var sm_url = '/scripts/r/user/user_type/';
				submit_data.type=type.id;
				$("#sidebar a").removeClass("active");
				$("#"+type.id).addClass("active");
				$.post(sm_url, submit_data, function(data) {

					// Are there even any EQ to display?
					if (data.length <= 0) {
						return;
					}
					var eqTable = [];
					for (var i=0; i < data.length; i++) {
					var facility = data[i];
					eqTable.push({
						"index":i+1,
						//"product_type":facility.product_type,
						"id":facility.shakecast_user,
						"user_type":facility.user_type,  
						"username":facility.username,  
						"full_name":(facility.full_name) ? facility.full_name : facility.username,  
						"email_address":facility.email_address, 
						"phone_number":facility.phone_number, 
						});
						
					}
	var eqDiv = {
		"bJQueryUI": true,
		"iDisplayLength": 25,
		"sScrollY": ($("#map_canvas").height() > 0) ? $("#map_canvas").height() :  $(window).height()/3,
		"sScrollX": "100%",
		//"aaSorting": [[ 5, "desc" ]],
		"bUseRendered": false,
		aaData: eqTable, 
		aoColumns: 
			[
			{'sTitle': 'ID',"mDataProp": "id"},
			{'sTitle': 'User Type',"mDataProp": "user_type"},
			{'sTitle': 'User Name',"mDataProp": "username"},
			{'sTitle': 'Name',"mDataProp": "full_name"},
			{'sTitle': 'Email Address',"mDataProp": "email_address"}, 
			{'sTitle': 'Phone Number',"mDataProp": "phone_number"}, 
	]};
			
	  if (oTable) oTable.fnDestroy();
	  
	  oTable = $('#eq_content_table').dataTable(eqDiv);
	  
	  oTable.$('tr').click( function () {
	    var data = oTable.fnGetData( this );
	    //fnAccordion(data.id);
	    //load_marker(data.id);
	    row_click(this);
	  });

				});
				});
	$("#sidebar a").first().trigger('click');
					 $(window).trigger('resize');
		});

	}
		
		  function row_click (data) {
		    if ( $(data).hasClass('row_selected') ) {
			    $(data).removeClass('row_selected');
			    var oData = oTable.fnGetData( data );
			    //MAPAPP.infowindow.close(map);
			    //MAPAPP.removeMarker(oData.facility_id);
			    //MAPAPP.removeSM();
		    }
		    else {
			    //oTable.$('tr.row_selected').removeClass('row_selected');
			    $(data).addClass('row_selected');
			    var oData = oTable.fnGetData( data );
			    var sLat = parseFloat(oData.latitude);
			    var sLon = parseFloat(oData.longitude);
			    fnAccordion(oData.username);
			    //load_marker(data.id);
			    //MAPAPP.addFacMarker(oData);
			    //google.maps.event.trigger(MAPAPP.facMarkers[oData.facility_id], 'click');
		    }
		    if (fac_feature) {
		      fac_feature.setMap(null);
		      feature_coords = [];
		    }
		  }
			 
		 /* Get the rows which are currently selected */
		function fnGetSelected( oTableLocal )
		{
			return oTableLocal.$(".row_selected");
		}

		 /* Get the rows which are currently selected */
		function fnDeleteRow()
		{
			var anSelected = fnGetSelected( oTable );
			for (var i=0; i < anSelected.length; i++) {
				var oData = oTable.fnGetData( anSelected[i] );
				//MAPAPP.infowindow.close(map);
				//MAPAPP.removeMarker(oData.facility_id);
				//MAPAPP.removeSM();
				//MAPAPP.removeMarker(oData.event_id);
				oTable.fnDeleteRow( anSelected[i] );
			}
		}

      function fnAccordion(facility_id){
		//var local_url = '/scripts/damage.pl/datatables/' + sc_id + '?type=' + type + '&start=' + start + '&length=' + length;
		var local_url = '/scripts/r/user/from_id/' + facility_id;
		$.post(local_url, submit_data, function(data) {

			// Are there even any EQ to display?
			if (typeof data.shakecast_user === "undefined") {
				return;
			}

			$(".breadcrumb li").last().html(data.user_type + ' : ' + data.username);

			var html_array = [];
			html_array = html_array.concat([
			  ' <strong>' + data.user_type + '</strong> ',
			  data.username + ' / <strong>ID</strong> ' + data.shakecast_user,
			  ' / <strong>Name</strong> '+ data.full_name,
			  ]);

			var cell_tabs = [
				'<ul class="nav nav-tabs">',
				'<li><a href="#' + data.shakecast_user,
				'_info" data-toggle="tab">User Information</a></li>',
				];
			var cell_array = [
				'<div class="tab-content">',
				'<div class="tab-pane" id="' + data.shakecast_user + '_info">',
				'<table class="table table-striped table-responsive">',
				'<tr><td><b>User Type</b></td><td>' + data.user_type + '</td></tr>',
				'<tr><td><b>User ID</b></td><td>' + data.user_id + '</td></tr>',
				'<tr><td><b>User Name</b></td><td>' +  ((data.full_name) ? data.full_name : data.username) + '</td></tr>',
				'<tr><td><b>Email</b></td><td>' + data.email_address + '</td></tr>',
				'<tr><td><b>Phone Number</b></td><td>' + data.phone_number + '</td></tr>',
				];
			  for (var ind=0; ind < data.geometry_user_profile.length; ind++)
			  cell_array = cell_array.concat([
				'<tr><td><b>User Group</b></td><td>' + data.geometry_user_profile[ind].profile_name + '</td></t>',
				]);
			
			  cell_array = cell_array.concat([
				'</table>',
				'</div>',
				]);
			
			if (data.user_type == 'GROUP') {

			  cell_tabs = cell_tabs.concat([
			  '<li><a href="#fea"'+data.shakecast_user+'" data-toggle="tab">Notification Request</a></li>',
			  '<li><a href="#geom"'+data.shakecast_user+'" data-toggle="tab">Geometry</a></li>',
			  '<li><a href="#facility"'+data.shakecast_user+'" data-toggle="tab">Group Facility</a></li>',
			  '<li><a href="#group"'+data.shakecast_user+'" data-toggle="tab">Group User</a></li>',
			  ]);
			  cell_array = cell_array.concat([
			  '<div class="tab-pane" id="fea"'+data.shakecast_user+'">',
			  '<table class="table table-striped table-responsive">',
			  '<tr><td>Notification Type</td><td>Damage Level</td><td>Event Type</td><td>Limit Value</td>',
			  '<td>Product Type</td><td>Delivery Method</td><td>Aggregation Group</td></tr>',
			  ]);
  
			  var notification_request = data.notification_request;
			  for (var ind=0; ind< notification_request.length; ind++) {
				  var attribute = notification_request[ind];
				  cell_array = cell_array.concat([
				  '<tr>',
				  '<td>' + attribute.notification_type + '</td>',
				  '<td><span class="label '+label[attribute.damage_level]+'"><b>' + attribute.damage_level + '</b></span></td>',
				  '<td>' + attribute.event_type + '</td>',
				  '<td>' + attribute.limit_value + '</td>',
				  '<td>' + attribute.product_type + '</td>',
				  '<td>' + attribute.delivery_method + '</td>',
				  '<td>' + attribute.aggregation_group + '</td>',
				  '</tr>',
				  ]);
				  }
				  cell_array = cell_array.concat([
				  '</table>',
				  '</div>']);

			  cell_array = cell_array.concat([
			  '<div class="tab-pane" id="geom"'+data.shakecast_user+'">',
			  '<table class="table table-striped table-responsive">',
			  '<tr><td>Latitude</td><td>Longitude</td></tr>',
			  ]);
  
			  var geometry_profile = data.geometry_facility_profile;
			  if (geometry_profile[0].geom) {
			  var geom = geometry_profile[0].geom.split(",");
			  var lat=0.0, lon=0.0;
			  for (var ind=0; ind< geom.length; ind=ind+2) {
				  cell_array = cell_array.concat([
				  '<tr>',
				  '<td>' + geom[ind] + '</td>',
				  '<td>' + geom[ind+1] + '</td>',
				  '</tr>',
				  ]);
				  feature_coords.push(new google.maps.LatLng(geom[ind],geom[ind+1]));
				  if (ind > 0) {
				    lat = lat + parseFloat(geom[ind]);
				    lon = lon + parseFloat(geom[ind+1]);
				  }
				  }
				  lat = lat / (geom.length-2) *2;
				  lon = lon / (geom.length-2) *2;
			      cell_array = cell_array.concat([
			      '</table>',
			      '</div>']);
			  fac_feature = new google.maps.Polygon({
				    clickable: false,
					path: feature_coords,
					strokeColor: "#FFFF00",
					strokeOpacity: 1.0,
					strokeWeight: 3,
					fillColor: "#FFFF00",
					fillOpacity: 0.35
				  });
			  if (fac_feature) fac_feature.setMap(map);
			  map.setCenter(new google.maps.LatLng(lat,lon));
			  }

			  cell_array = cell_array.concat([
			  '<div class="tab-pane" id="facility"'+data.shakecast_user+'">',
			  '<table class="table table-striped table-responsive">',
			  '<tr><td>Facility Type</td><td>Count</td></tr>',
			  ]);
  
			  var group_facility = data.group_facility;
			  if (group_facility) {
			  jQuery.each(group_facility, function(i, val) {
						cell_array = cell_array.concat(['<tr>',
				  '<td>' + val.facility_type + '</td>',
				  '<td>' + val.count + '</td>',
				  '</tr>',
				  ]);
					});
						cell_array = cell_array.concat(['</table>',  '</div>']);
			}

			  cell_array = cell_array.concat([
			  '<div class="tab-pane" id="group"'+data.shakecast_user+'">',
			  '<table class="table table-striped table-responsive">',
			  '<tr><td>User ID</td><td>User Name</td></tr>',
			  ]);
  
			  var geometry_user_group = data.geometry_user_group;
			  if (geometry_user_group) {
			  jQuery.each(geometry_user_group, function(i, val) {
						cell_array = cell_array.concat(['<tr>',
				  '<td>' + val.username + '</td>',
				  '<td>' + val.full_name + '</td>',
				  '</tr>',
				  ]);
					});
						cell_array = cell_array.concat(['</table>',  '</div>']);
			}

			} else {
			  cell_tabs = cell_tabs.concat([
			  '<li><a href="#fea"'+data.shakecast_user+'" data-toggle="tab">User Delivery Method</a></li>',
			  ]);
			  cell_array = cell_array.concat([
			  '<div class="tab-pane" id="fea"'+data.shakecast_user+'">',
			  '<table class="table table-striped table-responsive">',
			  '<tr><td>ID</td><td>Delivery Method</td><td>Delivery Address</td></tr>',
			  ]);
  
			  var user_delivery_method = data.user_delivery_method;
			  for (var key in user_delivery_method) {
				  var attribute = user_delivery_method[key];
				  cell_array = cell_array.concat([
				  '<tr>',
				  '<td>' + attribute.user_delivery_method_id + '</td>',
				  '<td><b>' + attribute.delivery_method + '</b></td>',
				  '<td>' + attribute.delivery_address + '</td>',
				  '</tr>',
				  ]);
				  }
				  cell_array = cell_array.concat([
				  '</table>',
				  '</div>']);
			}

				
			cell_tabs = cell_tabs.concat(['</ul>']);
			cell_array = cell_array.concat(['</div>']);
			fac_des[data.shakecast_user] = cell_tabs.join('') + cell_array.join('');

			//};
			
	  $("#fac_shaking .panel-heading").html(html_array.join(''));

	      	    $("#fac_shaking .panel-body").html(fac_des[data.shakecast_user]);
	      	    $("#fac_shaking .panel-body").tab();
		    $("#fac_shaking .panel-body a:first").tab('show')
		    $("#fac_shaking").show();

	  $(window).trigger('resize');


		});
			}

		$("#delete_type").on('click', function() {
				$('#myModal').modal();
		});
 
		$("#confirm_delete").on('click', function() {
				$('#myModal').modal('hide');
				var sm_url = '/scripts/r/user/erase_type/';
				$.post(sm_url, submit_data, function(data) {
			// Are there even any EQ to display?
			if (data.status > 0) {
			  alert("User type "+type+" is deleted from the database.");
			  oTable.fnClearTable();
			} else {
			  alert("Error in deleting user.");
			}
				}, "json");
		});
 
		$("#delete").on('click', function() {
		    var anSelected = fnGetSelected( oTable );
		    for (var i=0; i < anSelected.length; i++) {
		      var oData = oTable.fnGetData( anSelected[i] );
		      submit_data.id = oData.id;
		      submit_data.type = oData.user_type;
		      submit_data.sc_username = oData.username;
		      //var sm_url = '/scripts/r/user/erase/?user_id='+oData.user_id;
		      var sm_url = '/scripts/r/user/erase/';
		      $.post(sm_url, submit_data, function(data) {
			// Are there even any EQ to display?
			if (data.status > 0) {
			  alert("User is deleted from the database.");
			  //var row = anSelected[i];
			  fnDeleteRow();
			  //console.log(oData.id);
			} else {
			  alert("Error in deleting user.");
			}
		      }, "json");
		  }
		});
 
	$(window).resize(function() {
		//$("#eq_content_table").width($(".row").width());
		$("#map_canvas").width($("#map_pane").width());
		$("#map_canvas").height($("#map_canvas").width());
		//google.maps.event.trigger(map, 'resize');
		//oTable.fnAdjustColumnSizing();
		var cont_height = $("#eq_content_table").height();
		if ($("#sidebar").length) {
			cont_height = ($("#sidebar").height() > cont_height) ? $("#sidebar").height() : cont_height;
		}
		$('html').css('height', cont_height+ 300);
	});
		
	$(document).ready(function(){
		$("#spinner").bind("ajaxStart", function() {
			$(this).show();
		}).bind("ajaxStop", function() {
			$(this).hide();
		}).bind("ajaxError", function() {
			$(this).hide();
		});

		 });

    </script>
    </body>
</html>
