
  <!-- Fixed navbar -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="?dest=index"><img src="images/sc_logo.png" class="img-circle logo" /> ShakeCast</a>
      </div>
      <div class="navbar-collapse collapse">
	<ul id="nav_menu" class="nav navbar-nav">
	    <li class="active"><a href="?dest=admin_index">Admin Home</a></li>
	    <li><a href="?dest=admin_config">General Settings</a></li>
	    <li class="">
	    <a href="?dest=admin_earthquake">Earthquakes</a>
	    </li>
	    <li class="">
	    <a href="?dest=admin_facility">Facilities</a>
	    </li>
	    <li class="">
	    <a href="?dest=admin_product">Products</a>
	    </li>
	    <li class="">
	    <a href="?dest=admin_user">Users</a>
	    </li>
	    <li class="">
	    <a href="?dest=admin_post_file">Upload</a>
	    </li>
	</ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

 