  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ page.leadingpath }}images/sc_logo.png" class="img-circle logo" /> ShakeCast</a>
      </div>
      <div class="navbar-collapse collapse">
	<ul id="nav_menu" class="nav navbar-nav">
	    <li class="dropdown"><a href="{{ page.leadingpath }}intro.html" class="dropdown-toggle" data-toggle="dropdown">Getting Started</a>
              <ul class="dropdown-menu">
                <li><a href="{{ page.leadingpath }}service.html">Overview</a></li>
                <li><a href="{{ page.leadingpath }}service.html">News/Events</a></li>
                <li class="divider"></li>
                <li><a href="{{ page.leadingpath }}install.html">System Requirements</a></li>
                 <li><a href="{{ page.leadingpath }}aws.html">Amazon Cloud Installation</a></li>
                <li><a href="{{ page.leadingpath }}win_install.html">Windows Installation</a></li>
                <li><a href="{{ page.leadingpath }}install.html">Unix/Linux Installation</a></li>
                <li class="divider"></li>
                <li><a href="{{ page.leadingpath }}install.html">ShakeCast Lite</a></li>
              </ul>
            </li>
	    <li class=""><a href="{{ page.leadingpath }}user.html">User Guide</a></li>
	    <li class="dropdown"><a href="{{ page.leadingpath }}intro.html" class="dropdown-toggle" data-toggle="dropdown">Operator Guide</a>
              <ul class="dropdown-menu">
                <li><a href="{{ page.leadingpath }}operator_install.html">Installation</a></li>
                <li><a href="{{ page.leadingpath }}operator_config.html">Post Configuration</a></li>
                <li><a href="{{ page.leadingpath }}operator_custom.html">System Customization</a></li>
                <li><a href="{{ page.leadingpath }}operator_admin.html">System Administration</a></li>
                <li class="divider"></li>
                <li><a href="{{ page.leadingpath }}operator_appenda.html">Append. A User Inventory</a></li>
                <li><a href="{{ page.leadingpath }}operator_appendb.html">Append. B Data Format</a></li>
                <li><a href="{{ page.leadingpath }}operator_appendc.html">Append. C Utility Scripts</a></li>
                <li><a href="{{ page.leadingpath }}operator_appendd.html">Append. D HAZUS MBT</a></li>
                <li><a href="{{ page.leadingpath }}operator_appende.html">Append. E MBT Fragility</a></li>
                <li><a href="{{ page.leadingpath }}operator_appendf.html">Append. F Template Keywords</a></li>
              </ul>
            </li>
	    <li class="dropdown"><a href="{{ page.leadingpath }}intro.html" class="dropdown-toggle" data-toggle="dropdown">Reference Guide</a>
              <ul class="dropdown-menu">
                <li><a href="{{ page.leadingpath }}utility.html">Command/Utility</a></li>
                <li class="divider"></li>
                <li><a href="{{ page.leadingpath }}xml.html">XML/JSON Specification</a></li>
              </ul>
            </li>
	    <li class=""><a href="{{ page.leadingpath }}misc.html">FAQ</a></li>
	    <li class="dropdown"><a href="{{ page.leadingpath }}intro.html" class="dropdown-toggle" data-toggle="dropdown">Resources</a>
              <ul class="dropdown-menu">
                <li><a href="{{ page.leadingpath }}install.html">Newsletter Archive</a></li>
                <li><a href="{{ page.leadingpath }}install.html">Document Archive</a></li>
                <li><a href="{{ page.leadingpath }}install.html">User Profile</a></li>
                <li><a href="{{ page.leadingpath }}install.html">Paper/Presentation</a></li>
                <li class="divider"></li>
                <li><a href="{{ page.leadingpath }}service.html">ShakeMap Scenario</a></li>
                <li class="divider"></li>
                <li><a href="{{ page.leadingpath }}install.html">ShakeCast Workbook</a></li>
                <li><a href="{{ page.leadingpath }}install.html">Conversion Utilities</a></li>
                <li><a href="{{ page.leadingpath }}install.html"></a></li>
                <li class="divider"></li>
                <li><a href="{{ page.leadingpath }}install.html">System Configurations</a></li>
                <li><a href="{{ page.leadingpath }}install.html">Notification Templates</a></li>
                <li><a href="{{ page.leadingpath }}install.html">PDF Templates</a></li>
                <li><a href="{{ page.leadingpath }}install.html">Facility Icon Library</a></li>
              </ul>
            </li>
	    <li class="dropdown"><a href="{{ page.leadingpath }}intro.html" class="dropdown-toggle" data-toggle="dropdown">Development</a>
              <ul class="dropdown-menu">
                <li><a href="{{ page.leadingpath }}service.html">ShakeCast V4 (pyCast)</a></li>
                <li class="divider"></li>
                 <li><a href="{{ page.leadingpath }}aws.html">AEBM/DCM Module</a></li>
                <li><a href="{{ page.leadingpath }}install.html">Ground Failure Module</a></li>
              </ul>
            </li>
	    <li class=""><a href="{{ page.leadingpath }}misc.html">Contact Us</a></li>
	</ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

 