  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ page.leadingpath }}images/sc_logo.png" class="img-circle logo" /> ShakeCast</a>
      </div>
      <div class="navbar-collapse collapse">
	<ul id="nav_menu" class="nav navbar-nav">
	    <li class="dropdown"><a href="{{ page.leadingpath }}intro.html" class="dropdown-toggle" data-toggle="dropdown">Getting Started</a>
              <ul class="dropdown-menu">
                <li><a href="{{ page.leadingpath }}service.html">Service Model</a></li>
                 <li><a href="{{ page.leadingpath }}aws.html">Amazon Cloud</a></li>
                <li><a href="{{ page.leadingpath }}install.html">Standalone installation</a></li>
                <li class="divider"></li>
              </ul>
            </li>
	    <li class=""><a href="{{ page.leadingpath }}user.html">User Guide</a></li>
	    <li class=""><a href="{{ page.leadingpath }}operator.html">Operator Guide</a></li>
	    <li class=""><a href="{{ page.leadingpath }}misc.html">Miscellaneous</a></li>
	    <li class=""><a href="{{ page.leadingpath }}reference.html">Reference</a></li>
	</ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

 