<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Google Earth Plugin - pt,pline,pgon,overlay,3d files</title>
  <script src="http://www.google.com/jsapi?key=ABQIAAAAFr1SZqAxLssG5UzEVXknDBQd96X5PnBhAb3pDLG6DS_8pE4bRRT8dBJOZfsNVxsuS-Wx72mPTC6b_Q"></script>
  <script type="text/javascript">
google.load("earth", "1");

//James Stafford  at www.barnabu.co.uk 

var ge = null;
var fileOne = null;
var fileTwo = null;
var fileThree = null;
var fileFour = null;
var fileFive = null;



function init() {
  google.earth.createInstance("map3d", initCB, failureCB);
}

function initCB(object) {
  ge = object;
  ge.getWindow().setVisibility(true);
  ge.getOptions().setStatusBarVisibility(true);
  ge.getNavigationControl().setVisibility(ge.VISIBILITY_SHOW);






  fileOne = getNL('http://136.177.20.87/data/[% shakemap.shakemap_id %]-[% shakemap.shakemap_version %]/exposure.kml');
  //fileOne = getNL('http://localhost/data/[% shakemap.shakemap_id %]-[% shakemap.shakemap_version %]/exposure.kml');

  updateOptions();
}

function failureCB(object) {
}







function getNL(kmlURL){
  var nl = ge.createNetworkLink("");
  var link = ge.createLink("");
  link.setHref(kmlURL);
  nl.setLink(link);
nl.setFlyToView(true);
  ge.getGlobe().getFeatures().appendChild(nl);
  return nl;
}


function updateOptions() {
  fileOne.setVisibility(document.options.file1.checked);



}

  

// setup flyto for layer hyperlink

function flyto_point()
{
  var flyto = ge.createLookAt('');
  //flyto.set(23.231418,94.050230,10000, ge.ALTITUDE_MODE_RELATIVE_TO_GROUND,1114,1171,1450); //180, 1160, 1500);
  ge.getView().setAbstractView(flyto);     
 }










  </script>


<script type="text/javascript"> function reloadPage() { window.location.reload() } </script> 




</head>

<body onload='init()'>
  <div id='map3d_container' style='border: 1px solid silver;
  height: 620px; width: 780px'>
    <div id='map3d' style='height: 100%; width: 100%;'></div>
  </div>
  <div id='options_container'>
    <form name="options" action='javascript:updateOptions();'>


      <input type="checkbox" onclick='updateOptions()' name="file1" checked value="ON" />
      <a href="#" onclick="javascript:flyto_point();"> Point</a> &nbsp;&nbsp;&nbsp;
      
&nbsp;</form>
<input type="button" value="Reload page" onclick="reloadPage()" />

  </div>

</body>
</html>