FACILITY_TYPE,FACILITY_ID,FACILITY_NAME,DIST,LATITUDE,LONGITUDE,DAMAGE_LEVEL,MMI,PGA,PGV,PSA03,PSA10,PSA30,STDPGA,SVEL
[% FOREACH exposure = shakecast.exposure %]
[%- FOREACH item = exposure.item -%]
[% exposure.type %],"[% item.external_facility_id %]","[% item.facility_name %]",[% item.DIST %],[% item.latitude %],[% item.longitude %],[% item.damage_level %],[% item.MMI %],[% item.PGA %],[% item.PGV %],[% item.PSA03 %],[% item.PSA10 %],[% item.PSA30 %],[% item.STDPGA %],[% item.SVEL %]

[%- END -%]
[% END %]
