.marker-cluster-grey {
	background-image: url("images/m3_1.png");
	}
.marker-cluster-green {
	background-image: url("images/m3_100.png");
	}
.marker-cluster-yellow {
	background-image: url("images/m3_200.png");
	}
.marker-cluster-orange {
	background-image: url("images/m3_300.png");
	}
.marker-cluster-red {
	background-image: url("images/m3_400.png");
	}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 16px;
	background-color: rgba(181, 181, 181, 0.6);
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 1px;
	margin-top: 1px;

	text-align: center;
	border-radius: 15px;
	font: 11px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}