---
layout: bare
---
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.html_title %}{{ page.html_title }} • {% endif %}ShakeCast Guides</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ page.leadingpath }}bootstrap3/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ page.leadingpath }}css/main.css">

  <link rel="shortcut icon" href="{{ page.leadingpath }}images/sc_logo.png">
  <link rel="alternate" type="application/atom+xml" title="Upcoming Events" href="/atom.xml">
  <script type="text/javascript" src="{{ page.leadingpath }}js/jquery.min.js"></script>
  <script type="text/javascript" src="{{ page.leadingpath }}bootstrap3/js/bootstrap.min.js"></script>

<body {% if page.body_class %}class="{{ page.body_class }}"{% endif %} data-spy="scroll" data-target="#toc">
  {% include top.html %}

  {% include attention.html %}

  {{ content }}

  {% include footer.html %}
</body>
</html>